.container {
    width: 1200px;
    margin: 1px auto;
}

.clearfix:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.topBar {
    background: #333;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 12px;
}

.topBar a {
    color: white;

}

.topBar span {
    margin: 0 0.5em;
    font-size: 12px;
}

.topBar .shop a {
    margin-left: 10px;
    display: inline-block;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: #424242;
}


.flex_weight_1 {
    flex: 1;
}

.test {
    border: 1px solid red;
}

.header {
    margin-top: 20px;
}

.flex {
    display: flex;
}

.header .site-list {
    flex: 1;
}

.header .site-list>ul {
    align-items: center;
}

.header .site-list>ul>li>a {
    padding: 26px 10px 38px;
    color: #333;
}


.header .site-list>ul>li>a:hover {
    color: #ff6700;
}

.site-search form input.search-text {
    width: 223px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 10px;
}

.site-search form input.search-btn {
    width: 48px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 0 10px;
}

.site-search form {
    position: relative;
}

.site-search .search-word {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
    color: #333;
    padding: 5px;
}

.site-search .search-word a {
    color: #333;
    padding: 5px 8px;
    font-size: 12px;
    background: lightgrey;
}

.site-slider {
    margin-top: 20px;
    height: 460px;
    background: #fff;
    border: 1px solid #e0e0e0;
    position: relative;
}

.site-slider img {
    width: 100%;
    height: auto;
}

.header .site-list>ul>li.site-category {
    position: relative;
    z-index: 3;
}

.header .site-list>ul .category-list {
    position: absolute;
    left: -53px;
    top: 93px;
    height: 450px;
    background: rgba(0, 0, 0, 0.6);
}

.header .site-list>ul .category-list a {
    display: block;
    height: 42px;
    line-height: 42px;
    color: white;
    padding-left: 30px;
}

.header .site-list>ul .category-list a span {
    float: right;
    margin-right: 16px;
    font-size: 16px;
    line-height: 42px;
}

.category-list>ul {
    width: 234px;
    height: 420px;
    padding: 20px 0;
}

.arrow {
    position: absolute;
    width: 41px;
    height: 69px;
    right: 0px;
    background: url(../images/icon-slides.png) no-repeat 0 0;
    cursor: pointer;
}

.next {
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/icon-slides.png) no-repeat 0 0;
    background-position-x: -125px;
}

.next:hover {
    background: url(../images/icon-slides.png) no-repeat 0 0;
    cursor: pointer;
}

.prev:hover {
    background: url(../images/icon-slides.png) no-repeat 0 0;
    cursor: pointer;
}

.prev {
    left: 240px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/icon-slides.png) no-repeat 0 0;
    background-position-x: -85px;
}

.content-sub {
    width: 1200px;
}

.content-list {
    width: calc(1200px - 234px);
}

.content-channel {
    width: 234px;
    margin-right: 10px;

}

.content-sub .content-list ul li a img {
    width: 316px;
    height: 170px;
}

.channel-list {
    display: flex;
    flex-wrap: wrap;
    background: #5f5750;
    padding-top: 12px;
    padding-bottom: 12px;
}

.channel-list .iconfont {
    margin-bottom: 10px;
}

.channel-list li a {
    color: white;
}

.content-sub .content-channel ul li a i {
    font-size: 18px;
}

.content-sub .content-channel ul li a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.channel-list li a {
    width: 77px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-banner img {
    width: 100%;
    height: auto;
}

.content-desc {
    background: #f5f5f5;
    padding-top: 20px;
}

.content-desc .box-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

.content-desc .box-hd h2 {
    font-size: 22px;
    font-weight: 200;
    color: #333;
}

.content-desc .box-hd .more a {
    font-size: 16px;
    color: #424242;
}

.content-desc .box-hd .more a i {
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: #b0b0b0;
    color: #fff;
    font-size: 12px;
    vertical-align: 2px;
}

.box-bd .row-l a img {
    width: 234px;
    height: 614px;
    margin-right: 4px;
}

.box-bd .row {
    display: flex;
}

.box-bd ul {
    flex-wrap: wrap;
}

.box-bd ul li {
    flex: 1;
    position: relative;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    text-align: center;
}

.box-bd .row-r ul li .figure a img {
    width: 160px;
    height: 160px;
}

.box-bd .row-r ul li .title a {
    color: #333;
}

.box-bd .row-r ul li .desc {
    height: 18px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0;
    margin: 0 10px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box-bd .row-r ul li .price {
    text-align: center;
    color: #ff6700;
}

.flag {
    color: white;
    background: lightgreen;
    padding: 4px 10px;
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
}

.figure {
    margin-top: 30px;
}

footer {
    background: white;
}

.footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.footer-service li {
    text-align: center;
    margin-left: 20px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    border-right: 1px solid #e0e0e0;
}

.footer-service li a {
    color: #424242;
}

.col-contact {
    width: 252px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}

.footer-links {
    display: flex;
}

.col-links {
    flex: 1;
}

.footer .footer-links {
    padding: 40px 0;
}

.footer .footer-links dl dt {
    margin-bottom: 26px;
    font-size: 14px;
    color: #424242;
}

.footer .footer-links dl dd {
    font-size: 12px;
    margin-top: 10px;
    color: #757575;
    cursor: pointer;
}

.footer .footer-links .col-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer .footer-links .col-contact .iphone {
    margin-bottom: 5px;
    font-size: 22px;
    color: #ff6700;
}

.footer .footer-links .col-contact p {
    margin-bottom: 16px;
    font-size: 12px;
}

.footer .footer-links .col-contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    border: solid 1px red;
    color: red;
    font-size: 12px;

}

.footer .footer-links .col-contact a:hover {
    background: red;
    color: white;
}