<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 1. 导入Vue的包 -->
    <script src="../lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7.css">
</head>
<body>
<div id="app">


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                Id:
                <input type="text" class="form-control" v-model="id">
            </label>

            <label>
                Name:
                <input type="text" class="form-control" v-model="name">
            </label>

            <!-- 在Vue中，使用事件绑定机制，为元素指定处理函数的时候，如果加了小括号，就可以给函数传参了 -->
            <input type="button" value="添加" class="btn btn-primary" @click="add()">

            <label>
                搜索名称关键字：
                    <input type="text" class="form-control" v-model="keywords">
            </label>
        </div>
    </div>



    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in list ">
            <td> {{item.id }}</td>
            <td> {{item.name }}</td>
            <td> {{item.ctime }}</td>
            <td @click="del(item.id)"> 删除 </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>

<script>
    new Vue({
        el:'#app',
        data:{
            id:'',
            name:'',
            keywords:'',
            list1:[
                { id: 1, name: '奔驰', ctime: new Date() },
                { id: 2, name: '宝马', ctime: new Date() }
            ]
        },
        // watch:{
        //     keywords:function () {
        //         sub_list =[];
        //         for(let k= 0;k<this.list.length;k++){
        //             if(this.list[k].name.indexOf(this.keywords)>-1){
        //                 sub_list.push(this.list[k]);
        //             }
        //         }
        //         this.list = sub_list;
        //     }
        // },
        computed:{
            list:function () {
                sub_list =[];
                for(let k= 0;k<this.list1.length;k++){
                    if(this.list1[k].name.indexOf(this.keywords)>-1){
                        sub_list.push(this.list1[k]);
                    }
                }
                return  sub_list;
            }
        },
        methods:{
            del: function (id) {
                for(let k= 0;k<this.list.length;k++){
                    if(this.list[k].id===id){
                        this.list.splice(k,1)
                    }
                }
            },
            add:function () {
                this.list.push({id:this.id,name:this.name,ctime:new Date() })
                this.id='';
                this.name='';
            }
        }
    });
</script>
