.banner main {
  margin-left: 220px;
  display: flex;
  gap: 10px;
}
.banner main .news {
  margin-top: 10px;
  border: solid 1px #e4e4e4;
  width: 250px;
}
.banner main .news .news_head {
  padding-left: 15px;
  padding-right: 15px;
  height: 33px;
  align-items: center;
  border-bottom: dashed 1px #e4e4e4;
  display: flex;
  justify-content: space-between;
}
.banner main .news .news_head h3 {
  font-size: 14px;
  font-weight: bolder;
}
.banner main .news .news_body ul {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}
.banner main .news .news_body ul li {
  line-height: 23px;
  height: 23px;
}
.banner main .items ul {
  display: flex;
  border: solid 1px #e4e4e4;
  border-top: none;
  flex-wrap: wrap;
}
.banner main .items ul li {
  flex: 25%;
  border-right: solid 1px #e4e4e4;
  border-bottom: solid 1px #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner main .items ul li i {
  display: inline-block;
  width: 61px;
  height: 40px;
  background-image: url(../img/icons.png);
  margin-bottom: 5px;
}
.banner main .items ul li span {
  margin-bottom: 5px;
}
.test {
  border: solid 1px red;
}
.ad img {
  width: 720px;
}
.recommand {
  margin-top: 10px;
  display: flex;
}
.recommand .item_1 {
  flex-basis: 210px;
  display: flex;
  flex-direction: column;
  background-color: #5c5251;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bolder;
}
.recommand .item_1 p {
  margin-top: 10px;
}
.recommand .item_1 img {
  width: 57px;
  height: 57px;
}
