body{
    font-size: 12px;
    font-family: Arial;
}
nav.top{
    height: 30px;
    background-color: #f2f2f2;
    padding: 5px 30px 5px 30px;
    color: darkgrey;
    border-bottom:1px solid  #e7e7e7;
}
nav.top a{
    color:darkgrey;
}
span.glyphicon{
    margin: 2px;
}
nav.top > a, nav.top > span{
    margin-right: 10px;
}

nav span.pull-right .order{
    margin-right: 20px;
}
/* teacher add */
nav.top a:hover{
    color: #C40000;
    text-decoration: none;
}