@font-face {
  font-family: "iconfont";
  /* Project id 993141 */
  src: url('iconfont.woff2?t=1705064671312') format('woff2'),
    url('iconfont.woff?t=1705064671312') format('woff'),
    url('iconfont.ttf?t=1705064671312') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxiajiantou:before {
  content: "\e673";
}

.icon-cart:before {
  content: "\e604";
}

.icon-arrow_down:before {
  content: "\e615";
}

.icon-circle-bookmark:before {
  content: "\e8bf";
}

.icon-faxian:before {
  content: "\e8af";
}

.icon-compass:before {
  content: "\e77d";
}

.icon-yongyao:before {
  content: "\e741";
}