<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.js"></script>
</head>
<body>

<table id="app">
    <tr>
        <td>人民币</td>
        <td>美元</td>
    </tr>

    <tr>
        <td> 汇率: <input name="" value="" v-model="rate"/></td>
    </tr>

    <tr>
        <td> ￥: <input value="" v-model="rmb"/></td>
        <td>美元 {{count()}}</td>
    </tr>

</table>

</body>
</html>

<script>
    var two = new Vue({
        el: '#app',
        data: {
            rate: 6,
            rmb: "",
        },
        methods: {
            count: function () {
                let rmb = parseInt(this.rmb) || 0;
                return rmb * this.rate;
            }
        },
    })

</script>
